
<li class="nav_first" ng-class="{'user_current_nav':$state.includes('historySearch.sixEvent')}" ng-click="this.blur();$state.go('historySearch.sixEvent')">
    <span class="c02"><img src="../../../img/tag_p.png" /></span>
    <span class="c01">六遥事件</span>
    <div class="clear"></div>
</li>
<li class="nav_first" ng-class="{'user_current_nav':$state.includes('historySearch.userEvent')}" ng-click="this.blur();$state.go('historySearch.userEvent')">
    <span class="c02"><img src="../../../img/tag_p.png" /></span>
    <span class="c01">用户事件</span>
    <div class="clear"></div>
</li>
<li class="nav_first" ng-class="{'user_current_nav':$state.includes('historySearch.fileDelivery')}" ng-click="this.blur();$state.go('historySearch.fileDelivery')">
    <span class="c02"><img src="../../../img/tag_p.png" /></span>
    <span class="c01">文件上送事件</span>
    <div class="clear"></div>
</li>
<li class="nav_first" ng-class="{'user_current_nav':$state.includes('historySearch.weatherStation')}" ng-click="this.blur();$state.go('historySearch.weatherStation')">
    <span class="c02"><img src="../../../img/tag_p.png" /></span>
    <span class="c01">气象站数据</span>
    <div class="clear"></div>
</li>
<li class="nav_first" ng-class="{'user_current_nav':$state.includes('historySearch.weatherForecast')}" ng-click="this.blur();$state.go('historySearch.weatherForecast')">
    <span class="c02"><img src="../../../img/tag_p.png" /></span>
    <span class="c01">天气预报数据</span>
    <div class="clear"></div>
</li>
<li class="nav_first" ng-class="{'user_current_nav':$state.includes('historySearch.stationData')}" ng-click="this.blur();$state.go('historySearch.stationData')">
    <span class="c02"><img src="../../../img/tag_p.png" /></span>
    <span class="c01">站内数据</span>
    <div class="clear"></div>
</li>
