
<style>
    body{ padding:50px 0 0 50px;}
    .datainp{ width:150px; height:30px; border:1px #ccc solid;}
    .floatLeft{ float:left}
</style>

<p style="background:#ffffff">



<div class="content" style="padding-top:1%;">
    <!--<div ng-repeat="stationInfo in stationInfoList">-->
        <!--<span>{{stationInfo.strName}}</span>-->
    <!--</div>-->
    <span style="line-height:2em; margin-left:1%">场站选择：</span>
    <span style="width:20%">
         <select class="c12" name="station" id="filterKind2" style="width:95%" ng-model="ftKind2">
             <option value="{{stationInfo.nStationID}}" ng-repeat="stationInfo in stationInfoList">{{stationInfo.strName}}</option>
         </select>
    </span>

    <span style="line-height:2em; margin-left:1%">数据类型：</span>
    <span style="width:10%">
        <select class="c12" id="filterKind1" style="width:95%" ng-model="ftKind1">
            <option value="name1">请选择</option>
        </select>
    </span>

    <span class="build_z" ng-click="this.blur();doFilter()" style="margin-left:5%">加载</span>

    <div class="clear"></div>
</div>

<div style="padding-top: 1%"></div>

<div id="realCurve" style="width: 90%;height:700px;"></div>
