
<div class="list_title">
    <p>密码修改</p>
    <div style="margin-left: 10px">
        <span>密码规则：</span>
        <span style="color:#FF0000">6-16位数字，符号，字母任意两种混合的密码验证策略</span>
        <div class="clear"></div>
    </div>

    <span style="margin:10px"></span>

    <div class="content">
        <span class="c06" style="line-height:28px">旧密码：</span>
        <input class="c17" id="oldPWD" type="password" ng-model="oldPwd" placeholder="请输入旧密码">
        <div class="clear"></div>
    </div>
    <div class="content">
        <span class="c06" style="line-height:28px">新密码：</span>
        <input class="c17" id="newPWD" disabled="true" type="password" ng-model="newPwd" placeholder="请输入新密码">
        <div class="clear"></div>
    </div>
    <div class="content">
        <span class="c06" style="line-height:28px">新密码确认：</span>
        <input class="c17" id="reNewPWD" disabled="true" type="password" ng-model="reNewPwd" placeholder="请确认新密码">
        <span id="Prompt"></span>
        <div class="clear"></div>
    </div>
    <div class="content">
        <a class="over_left" id="prompt3"></a>
        <a class="over" id="modifyPwd" disabled="disabled" ng-click="this.blur();modifyPwd();">修改</a>
        <div class="clear"></div>
    </div>
</div>
